@import "styles/main";

.newsList{
  margin: 50px 100px 50px 100px;
}

.newsList__header{
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: $dark;
  margin-bottom: 30px;
}

.newsList__elements{
  width: 100%;
  display:flex; 
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 100px;
}

.newsList__elements--load{
  color: $primary-color;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  position: relative;

  &:hover{
    cursor: pointer;
    color: $secondary-color;
  }

  svg{
    font-size: 20px;
    transform: rotate(180deg);
    position: absolute;
    margin-left: 5px;
  }
}

@media only screen and (max-device-width:425px) {

  .newsList{
    margin: 0px 0px 50px 0px;
  }

  .newsList__header{
    font-size: 30px;
    line-height: 41px;
  }

}

@media only screen and (max-width:768px) and (min-width:426px) {

  .newsList{
    margin: 50px 50px 50px 50px;
  }

}